//
//  DemoVIPER.xcconfig
//  DemoVIPER
//
//  Created by Vijay  on 17/07/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

INFOPLIST_FILE_PATH = DemoVIPER/Configuration/Info.plist

// MARK: - Environment
IS_DEBUG_MODE = false

// MARK: - Application Configuration
AD_APP_NAME = DemoApp
AD_DISPLAY = Demo

BASE_URL = https:/$()/universities.hipolabs.com
